#ignore data and pycache for j2735 decoder
scripts/J2735_pcap_decoder/data/
scripts/J2735_pcap_decoder/src/__pycache__/

#ignore log directories
logs/

#ignore carla script pycache
scripts/carla_python_scripts/__pycache__/

#ignore scripts working dir
scripts/carla_python_scripts/misc

#ignore SDSM.py because contains paid ASN1
scripts/carla_python_scripts/SDSM.py

#ignore node_info.config
config/node_info.config

#intelliJ files
.idea/

# ignore docker lib files
docker/lib/BUILD
docker/lib/COPY/VUG_Adapters
docker/lib/COPY/CARLA*
docker/lib/MAPS
docker/lib/OLD


# ignore SUMO pycache
scripts/carla_python_scripts/Sumo/sumo_integration/__pycache__