################################################################################
# SITE CONFIG
################################################################################

export VUG_SITE_CONFIG_FILE=alex.config

# GENERAL CONFIG
export VUG_LOCAL_TENADEV_DIR=$HOME/tenadev
export VUG_LOCAL_INSTALL_PATH=$VUG_LOCAL_TENADEV_DIR/INSTALL
export VUG_LOCAL_TENA_PATH=$HOME/TENA
export VUG_LOCAL_TDCS_INSTALL_PATH=$VUG_LOCAL_TENA_PATH
export VUG_LOCAL_VOICES_POC_PATH=$HOME/voices-poc
export VUG_LOCAL_CARLA_PATH=$HOME/CARLA_0.9.10
export VUG_LOCAL_ADDRESS='192.168.0.145'

# CARLA CONFIG
export VUG_CARLA_GRAPHICS_API=vulkan # vulkan or opengl
export VUG_CARLA_QUALITY_LEVEL=Epic # Epic or Low
export VUG_CARLA_BLANK_SIGNALS=true

# DOCKER CONFIG
export VUG_DOCKER_START_CARLA=true
export VUG_DOCKER_START_EM=false
export VUG_DOCKER_START_CONSOLE=true
export VUG_DOCKER_START_CANARY=false
export VUG_DOCKER_START_TDCS=true
export VUG_DOCKER_START_TENA_PLAYBACK=false
export VUG_DOCKER_START_DATAVIEW=false
export VUG_DOCKER_START_SCENARIO_PUBLISHER=false
export VUG_DOCKER_START_TENA_CARLA_ADAPTER=true
export VUG_DOCKER_START_TJ2735_ADAPTER=false
export VUG_DOCKER_START_TJ3224_ADAPTER=true
export VUG_DOCKER_START_TRAFFIC_LIGHT_EG=false
export VUG_DOCKER_START_ENTITY_GENERATOR=false
export VUG_DOCKER_START_MANUAL_CARLA_VEHICLE=true
export VUG_DOCKER_MANUAL_CARLA_VEHICLE_IS_NEW=false
export VUG_DOCKER_START_SUMO=false
export VUG_DOCKER_SUMO_CONFIG=mcity_sumo/mcity_map_v2.sumocfg
export VUG_COLLECT_ECO_DATA=false
export VUG_COLLECT_ECO_DATA_ROLENAMES="" # comma separated list of vehicle rolenames

# LOGGING CONFIG
export VUG_LOG_FILES_ROOT=$VUG_LOCAL_VOICES_POC_PATH/logs
export VUG_ADAPTER_LOG_PATH=$VUG_LOG_FILES_ROOT/local_adapter_logs
export VUG_CARMA_SIM_LOG_PATH=$VUG_LOG_FILES_ROOT/carma_sim_logs

# CARLA ADAPTER CONFIG
export VUG_SIM_ID='CARLA-ALEX-1'

# MANUAL VEHICLE CONFIG
export VUG_MANUAL_VEHICLE_ID='ALEX-MAN-1'

# CARMA PLATFORM ADAPTER CONFIG
export VUG_CARMA_VEHICLE_ID='ALEX-CAR-1'

# CARLA TENA ADAPTER
export VUG_CARLA_ADDRESS=$VUG_LOCAL_ADDRESS

# TENA J2735 ADAPTER
export VUG_J2735_ADAPTER_SEND_ADDRESS=$VUG_LOCAL_ADDRESS
export VUG_J2735_ADAPTER_SEND_PORT='5398'
export VUG_J2735_ADAPTER_RECEIVE_ADDRESS=$VUG_LOCAL_ADDRESS
export VUG_J2735_ADAPTER_RECEIVE_PORT='56700'

# TENA J3224 ADAPTER
export VUG_J3224_ADAPTER_SEND_ADDRESS=$VUG_LOCAL_ADDRESS
export VUG_J3224_ADAPTER_SEND_PORT='5399'
export VUG_J3224_ADAPTER_RECEIVE_ADDRESS=$VUG_LOCAL_ADDRESS
export VUG_J3224_ADAPTER_RECEIVE_PORT='56701'
