################################################################################
# SITE CONFIG
################################################################################

# GENERAL CONFIG
localTenadevDir=$HOME
localInstallPath=$HOME/INSTALL
localTenaPath=$HOME/TENA
tdcsInstallPath=$localTenaPath
voicesPocPath=$HOME/voices-poc
localCarlaPath=$HOME/CARLA_0.9.10
localAddress='127.0.0.1'

# LOGGING CONFIG
logFilesRoot=$voicesPocPath/logs
localAdapterLogPath=$voicesPocPath/logs/local_adapter_logs
localCarmaSimLogPath=$voicesPocPath/logs/carma_sim_logs

# CARLA ADAPTER CONFIG
simId='CARLA-TFHRC-2'

# MANUAL VEHICLE CONFIG
vehicleID='TFHRC-MAN-2'

# CARMA PLATFORM ADAPTER CONFIG
carmaID='TFHRC-CAR-2'

# CARLA TENA ADAPTER
carlaAddress='carla'

# TENA J2735 ADAPTER
j2735AdapterSendAddress=$localAddress
j2735AdapterSendPort='5398'
j2735AdapterReceiveAddress=$localAddress
j2735AdapterReceivePort='56700'

# SCENARIO CONFIG
scenario_config_path=$voicesPocPath/config/scenario_config
scenario_config_file=docker_test.config

. $scenario_config_path/$scenario_config_file