################################################################################
# SITE CONFIG
################################################################################

# GENERAL CONFIG
localTenadevDir=$HOME/tenadev
localInstallPath=$HOME
localTenaPath=/opt/TENA
tdcsInstallPath=$localTenaPath
voicesPocPath=$HOME/git/voices-poc
localCarlaPath=$HOME/CARLA_0.9.10
localAddress='10.40.36.12'

# LOGGING CONFIG
logFilesRoot=$voicesPocPath/logs
localAdapterLogPath=$voicesPocPath/logs/local_adapter_logs
localCarmaSimLogPath=$voicesPocPath/logs/carma_sim_logs

# CARLA ADAPTER CONFIG
simId='CARLA-ECON'

# MANUAL VEHICLE CONFIG
vehicleID='ECON-MAN-1'

# CARMA PLATFORM ADAPTER CONFIG
carmaID='ECON-CAR-1'

# CARLA TENA ADAPTER
carlaAddress='10.40.36.3'

# TENA J2735 ADAPTER
j2735AdapterSendAddress=$localAddress
j2735AdapterSendPort='5398'
j2735AdapterReceiveAddress=$localAddress
j2735AdapterReceivePort='56700'

# SCENARIO CONFIG
scenario_config_path=$voicesPocPath/config/scenario_config
scenario_config_file=pilot1_test1-3.config

. $scenario_config_path/$scenario_config_file