################################################################################
# SITE CONFIG
################################################################################

# APPLICATION PATH CONFIG - IF USING DOCKER, DO NOT CHANGE
export VUG_LOCAL_TENADEV_DIR=$HOME/tenadev
export VUG_LOCAL_INSTALL_PATH=$VUG_LOCAL_TENADEV_DIR/INSTALL
export VUG_LOCAL_TENA_PATH=$HOME/TENA
export VUG_LOCAL_TDCS_INSTALL_PATH=$VUG_LOCAL_TENA_PATH
export VUG_LOCAL_JSON_TOOLS_INSTALL_PATH=$VUG_LOCAL_TENA_PATH
export VUG_LOCAL_DT_PATH=$HOME/distributed-testing
export VUG_LOCAL_CARLA_PATH=$HOME/CARLA
export VUG_LOCAL_TIMESYNC_SCRIPT_PATH=$VUG_LOCAL_DT_PATH/scripts/utils/timesync.sh


export VUG_LOCAL_ADDRESS='192.168.55.237'
export VUG_LOCAL_NETWORK_INTERFACE=''

# this identifier will be used for all default names in this config
# this should be all caps and no more than 8 characters to avoid string length issues
export VUG_SHORT_IDENTIFIER='FHWA'
export VUG_SHORT_IDENTIFIER_INDEX='3'

# Get local IP Address
if [ -z "${VUG_LOCAL_ADDRESS}" ] && [ ! -z "${VUG_LOCAL_NETWORK_INTERFACE}" ]
then
export VUG_LOCAL_ADDRESS='192.168.55.237'
    echo $VUG_LOCAL_ADDRESS
    if [ -z "${VUG_LOCAL_ADDRESS}" ]
    then
        echo
        echo "An IP address could not be found for the network interface $VUG_LOCAL_NETWORK_INTERFACE. Is this correct?"
        exit 1
    fi
fi

# CARLA CONFIG
export VUG_DOCKER_START_CARLA=local
export VUG_CARLA_GRAPHICS_API=vulkan # vulkan or opengl
export VUG_CARLA_QUALITY_LEVEL=Epic # Epic or Low
export VUG_CARLA_BLANK_SIGNALS=true
export VUG_DISPLAY_VEHICLE_ROLENAMES=true
export VUG_DISPLAY_SDSM=false
export VUG_DISPLAY_TRAFFIC_SIGNAL_STATES=true

# DOCKER TENA CONFIG
export VUG_DOCKER_START_EM=true
export VUG_DOCKER_START_CONSOLE=true
export VUG_DOCKER_START_CANARY=false
export VUG_DOCKER_START_TDCS=false
export VUG_DOCKER_START_TENA_PLAYBACK=false
export VUG_DOCKER_START_DATAVIEW=false

# DOCKER ADAPTER CONFIG
export VUG_DOCKER_START_SCENARIO_PUBLISHER=true
export VUG_DOCKER_START_V2X_ADAPTER=true
export VUG_DOCKER_START_TENA_CARLA_ADAPTER=true
export VUG_DOCKER_START_JSON_STREAMER=false
export VUG_DOCKER_START_JSON_PUBLISHER=false
export VUG_DOCKER_START_ENTITY_GENERATOR=false

# DOCKER SUMO CONFIG
export VUG_DOCKER_START_SUMO=false
export VUG_DOCKER_SUMO_CONFIG="examples/Town01.sumocfg"

# LOGGING CONFIG
export VUG_LOG_FILES_ROOT=$VUG_LOCAL_DT_PATH/logs
export VUG_ADAPTER_LOG_PATH=$VUG_LOG_FILES_ROOT/local_adapter_logs
export VUG_CARMA_SIM_LOG_PATH=$VUG_LOG_FILES_ROOT/carma_sim_logs

# CARLA ADAPTER CONFIG
export VUG_SIM_ID="CARLA-$VUG_SHORT_IDENTIFIER-$VUG_SHORT_IDENTIFIER_INDEX"

# MANUAL VEHICLE CONFIG
export VUG_DOCKER_START_MANUAL_CARLA_VEHICLE=true
export VUG_MANUAL_VEHICLE_ID="$VUG_SHORT_IDENTIFIER-M-$VUG_SHORT_IDENTIFIER_INDEX"
export VUG_MANUAL_VEHICLE_SPAWN_X=0.0
export VUG_MANUAL_VEHICLE_SPAWN_Y=0.0
export VUG_MANUAL_VEHICLE_SPAWN_Z=0.25
export VUG_MANUAL_VEHICLE_SPAWN_ROLL=0
export VUG_MANUAL_VEHICLE_SPAWN_PITCH=0
export VUG_MANUAL_VEHICLE_SPAWN_YAW=21.775087
export VUG_MANUAL_VEHICLE_MODEL='vehicle.ford.mustang'

# CARMA PLATFORM ADAPTER CONFIG
export VUG_CARMA_VEHICLE_ID="$VUG_SHORT_IDENTIFIER-CAR-$VUG_SHORT_IDENTIFIER_INDEX"
export VUG_CARMA_SPAWN_POINT=''
export VUG_CARMA_ROUTE=''

# CARLA TENA ADAPTER
export VUG_CARLA_ADDRESS=$VUG_LOCAL_ADDRESS

# TENA V2X ADAPTER
export VUG_V2X_ADAPTER_SEND_ADDRESS=$VUG_LOCAL_ADDRESS
export VUG_V2X_ADAPTER_SEND_PORT='5398'
export VUG_V2X_ADAPTER_RECEIVE_ADDRESS=$VUG_LOCAL_ADDRESS
export VUG_V2X_ADAPTER_RECEIVE_PORT='56700'

# JSON TOOLS
export VUG_STREAMER_BIND_IP=$VUG_LOCAL_ADDRESS
export VUG_STREAMER_BIND_PORT=8005

export VUG_PUBLISHER_REST_IP=$VUG_LOCAL_ADDRESS
export VUG_PUBLISHER_REST_PORT=8004
