################################################################################
# SITE CONFIG
################################################################################

# GENERAL CONFIG
VUG_LOCAL_TENADEV_DIR=$HOME/tenadev
VUG_LOCAL_INSTALL_PATH=$HOME/tenadev/INSTALL
VUG_LOCAL_TENA_PATH=/opt/TENA
VUG_LOCAL_TDCS_INSTALL_PATH=$VUG_LOCAL_TENA_PATH
VUG_LOCAL_VOICES_POC_PATH=$HOME/voices-poc
VUG_LOCAL_CARLA_PATH=$HOME/CARLA_0.9.10
VUG_LOCAL_ADDRESS='192.168.2.6'

# LOGGING CONFIG
VUG_LOG_FILES_ROOT=$VUG_LOCAL_VOICES_POC_PATH/logs
VUG_ADAPTER_LOG_PATH=$VUG_LOG_FILES_ROOT/local_adapter_logs
VUG_CARMA_SIM_LOG_PATH=$VUG_LOG_FILES_ROOT/carma_sim_logs

# CARLA ADAPTER CONFIG
VUG_SIM_ID='CARLA-UCLA-1'

# MANUAL VEHICLE CONFIG
VUG_MANUAL_VEHICLE_ID='UCLA-MAN-1'

# CARMA PLATFORM ADAPTER CONFIG
VUG_CARMA_VEHICLE_ID='UCLA-OPENCDA-1'

# CARLA TENA ADAPTER
VUG_CARLA_ADDRESS=$VUG_LOCAL_ADDRESS

# TENA J2735 ADAPTER
VUG_J2735_ADAPTER_SEND_ADDRESS=$VUG_LOCAL_ADDRESS
VUG_J2735_ADAPTER_SEND_PORT='5398'
VUG_J2735_ADAPTER_RECEIVE_ADDRESS=$VUG_LOCAL_ADDRESS
VUG_J2735_ADAPTER_RECEIVE_PORT='56700'

# SCENARIO CONFIG
VUG_SCENARIO_CONFIG_PATH=$VUG_LOCAL_VOICES_POC_PATH/config/scenario_config
VUG_SCENARIO_CONFIG_FILE=pilot1_test1-3.config

. $VUG_SCENARIO_CONFIG_PATH/$VUG_SCENARIO_CONFIG_FILE