################################################################################
# SITE CONFIG
################################################################################

# GENERAL CONFIG
localTenadevDir=$HOME/tenadev
localInstallPath=$HOME/tenadev/INSTALL
localTenaPath=/opt/TENA
tdcsInstallPath=$localTenaPath
voicesPocPath=$HOME/voices-poc
localCarlaPath=$HOME/CARLA_0.9.10
localAddress='192.168.2.6'

# LOGGING CONFIG
logFilesRoot=$voicesPocPath/logs
localAdapterLogPath=$voicesPocPath/logs/local_adapter_logs
localCarmaSimLogPath=$voicesPocPath/logs/carma_sim_logs

# CARLA ADAPTER CONFIG
simId='CARLA-UCLA-1'

# MANUAL VEHICLE CONFIG
vehicleID='UCLA-MAN-1'

# CARMA PLATFORM ADAPTER CONFIG
carmaID='UCLA-OPENCDA-1'

# CARLA TENA ADAPTER
carlaAddress=$localAddress

# TENA J2735 ADAPTER
j2735AdapterSendAddress=$localAddress
j2735AdapterSendPort='5398'
j2735AdapterReceiveAddress=$localAddress
j2735AdapterReceivePort='56700'

# SCENARIO CONFIG
scenario_config_path=$voicesPocPath/config/scenario_config
scenario_config_file=pilot1_test1-3.config

. $scenario_config_path/$scenario_config_file