# GENERAL CONFIG
localInstallPath=$HOME
localTenaPath=/opt/TENA
voicesPocPath=$HOME/git/voices-poc
localCarlaPath=/home/carma/CARLA_0.9.10
tdcsPath=/opt/TENA/VOICES-Combined-v0.14.2-DataCollection-v1.1.11
localAddress='10.40.36.12'

# CARLA ADAPTER CONFIG
simId='CARLA-ECON'

# VEHICLE CONFIG
vehicleID='ECON-CAR'

# CARMA PLATFORM ADAPTER CONFIG
carmaID='ECON-CAR'

# V2X-HUB CONFIG
v2xRepo=$HOME/v2xhub/V2X-Hub

# TENA SOURCE COMMAND
source $localTenaPath/6.0.8/scripts/tenaenv-u2004-gcc9-64-v6.0.8.sh
