################################################################################
# Local config
################################################################################

. $HOME/.voices-config

################################################################################
# Global configurations
################################################################################

# TENA GENERAL CONFIG
emAddress='172.31.23.99'
emPort='55100'
logFilesRoot=$voicesPocPath/logs
localAdapterLogPath=$voicesPocPath/logs/local_adapter_logs
localCarmaSimLogPath=$voicesPocPath/logs/carma_sim_logs
tdcsPath=/opt/TENA/VOICES-Combined-v0.14.2-DataCollection-v1.1.11

# CARLA
export VOI_CARLA_EGG_DIR=$localCarlaPath/PythonAPI/carla/dist/
carlaMapName="smart_intersection"

# ADAPTER CONFIG
carlaAdapterVersion="CARLAtenaAdapter-1.4.4"
carlaAddress=$localAddress
carmaPlatformAdapterVersion="CARMAplatformTENAadapter-1.0.0"
scenarioPublisherVersion="scenario-publisher-1.0.2"
scenarioFile=$HOME/voices-poc/scenario_files/pilot1-test4.xml
entityGeneratorVersion="tena-entity-generator-1.0.0"
trafficLightEntityGeneratorVersion="TrafficLightEntityGenerator-0.0.4"
intersectionID="smart_intersection_Main"

# J2735 ADAPTERS
j2735AdapterVersion="TENAJ2735MessageAdapter-0.0.3"
j2735AdapterSendAddress=$localAddress
j2735AdapterSendPort='5398'
j2735AdapterReceiveAddress=$localAddress
j2735AdapterReceivePort='56700'
