# GENERAL CONFIG
localTenadevDir=$HOME/tena_dev
localInstallPath=$HOME/tena_dev/INSTALL
localTenaPath=$HOME/tena_dev/u2004-gcc9-64/TENA
voicesPocPath=$HOME/voices-poc
localCarlaPath=/home/carma/CARLA_0.9.10
tdcsPath=/opt/TENA/VOICES-Combined-v0.14.2-DataCollection-v1.1.11
localAddress='192.168.55.231'

# CARLA ADAPTER CONFIG
simId='CARLA-TFHRC-2'

# VEHICLE CONFIG
vehicleID='TFHRC_CAR_2'

# CARMA PLATFORM ADAPTER CONFIG
carmaID='TFHRC_CAR_2'

# V2X-HUB CONFIG
v2xRepo=$HOME/Repos/V2X-Hub

# TENA source command
tenaSourceScript=$localTenaPath/6.0.8/scripts/tenaenv-u2004-gcc9-64-v6.0.8.sh
source $tenaSourceScript
