# GENERAL CONFIG
localInstallPath=$HOME/tena_dev/INSTALL
localTenaPath=$HOME/tena_dev/u2004-gcc9-64
voicesPocPath=$HOME/voices-poc
localAdapterLogPath=$voicesPocPath/scripts/collect_logs/log_files/local_adapter_logs
localCarmaSimLogPath=$voicesPocPath/scripts/collect_logs/log_files/carma_sim_logs

localCarlaPath=/home/carma/CARLA_0.9.10
carlaMapName="Town04"

tdcsPath=$localTenaPath/VOICES-Combined-v0.12.0-DataCollection-v1.1.10

#emAddress='172.31.23.99'
emAddress='192.168.55.231'
emPort='55100'

localAddress='192.168.55.231'

# CARLA ADAPTER CONFIG

carlaAdapterVersion="CARLAtenaAdapter-1.4.0"
simId='CARLA-TFHRC-2'
carlaAddress='192.168.55.231'

# CARMA PLATFORM ADAPTER CONFIG

carmaPlatformAdapterVersion="CARMAplatformTENAadapter-1.0.0"
carmaID='TFHRC-CAR-2'

# VEHICLE CONFIG

vehicleID='TFHRC-MANUAL-2'

# SCENARIO CONFIG

scenarioPublisherVersion="scenario-publisher-1.0.0"
scenarioFile=$HOME/voices-poc/scenario_files/pilot1-local-test.xml

# ENTITY GENERATOR CONFIG

entityGeneratorVersion="tena-entity-generator-1.0.0"

# TRAFFIC LIGHT ENTITY GENERATOR

trafficLightEntityGeneratorVersion="TrafficLightEntityGenerator-0.0.2"
intersectionID="Town04_Main"

# J2735 ADAPTERS

j2735AdapterVersion="TENAJ2735MessageAdapter-1.0.0"

j2735AdapterSendAddress=$localAddress
j2735AdapterSendPort='5398'

j2735AdapterReceiveAddress=$localAddress
j2735AdapterReceivePort='56700'
