# GENERAL CONFIG
localInstallPath=$HOME/tenadev/INSTALL
localTenaPath=$HOME/TENA
voicesPocPath=$HOME/voices-poc
localCarlaPath=/home/carma/CARLA_0.9.10
tdcsPath=/opt/TENA/VOICES-Combined-v0.14.2-DataCollection-v1.1.11
localAddress='192.168.55.230'

# CARLA ADAPTER CONFIG
simId='CARLA-TFHRC-1'

# VEHICLE CONFIG
vehicleID='TFHRC-CAR-1'

# CARMA PLATFORM ADAPTER CONFIG
carmaID='TFHRC-CAR-1'

# V2X-HUB CONFIG
v2xRepo=$HOME/v2xhub/V2X-Hub

# TENA SOURCE COMMAND
source $localTenaPath/6.0.8/scripts/tenaenv-u2004-gcc9-64-v6.0.8.sh
