# GENERAL CONFIG
localTenadevDir=$HOME/tenadev
localInstallPath=$HOME/tenadev/INSTALL
localTenaPath=$HOME/TENA
voicesPocPath=$HOME/voices-poc
localCarlaPath=$HOME/CARLA_0.9.10
tdcsPath=/opt/TENA/VOICES-Combined-v0.14.2-DataCollection-v1.1.11
localAddress='192.168.55.244'

# CARLA ADAPTER CONFIG
simId='CARLA-V2X-HUB'

# VEHICLE CONFIG
vehicleID='V2X-HUB-CAR'

# CARMA PLATFORM ADAPTER CONFIG
carmaID='V2X-HUB-CAR'

# V2X-HUB CONFIG
v2xRepo=$HOME/Repos/V2X-Hub

# TENA
tenaSourceScript=$localTenaPath/6.0.8/scripts/tenaenv-u2004-gcc9-64-v6.0.8.sh
source $tenaSourceScript
tenaExecutionManagerPath=
