# GENERAL CONFIG
localTenadevDir=$HOME/tenadev
localInstallPath=$HOME/tenadev/INSTALL
localTenaPath=/opt/TENA
voicesPocPath=$HOME/voices-poc
localCarlaPath=$HOME/CARLA_0.9.10
tdcsPath=/opt/TENA/VOICES-Combined-v0.14.2-DataCollection-v1.1.11
localAddress='192.168.2.6'

# CARLA ADAPTER CONFIG
simId='CARLA-UCLA'

# VEHICLE CONFIG
vehicleID='UCLA-OPENCDA'

# CARMA PLATFORM ADAPTER CONFIG
carmaID='UCLA-OPENCDA'

# V2X-HUB CONFIG
v2xRepo=$HOME/v2xhub/V2X-Hub

# TENA
tenaSourceScript=$localTenaPath/6.0.8/scripts/tenaenv-u2004-gcc9-64-v6.0.8.sh
source $tenaSourceScript
tenaExecutionManagerPath=/opt/TENA/executionManager-v6.0.8.2
