# GENERAL CONFIG
localInstallPath=$HOME/tenadev/INSTALL
localTenaPath=$HOME/TENA
voicesPocPath=$HOME/voices-poc
localAdapterLogPath=$voicesPocPath/scripts/collect_logs/log_files/local_adapter_logs
localCarmaSimLogPath=$voicesPocPath/scripts/collect_logs/log_files/carma_sim_logs

localCarlaPath=$HOME/carla/CARLA_0.9.10_TFHRC_Ubuntu_20220301/LinuxNoEditor
carlaMapName="TFHRC"

tdcsPath=$localTenaPath/VOICES-Combined-v0.12.0-DataCollection-v1.1.10

emAddress='172.30.1.100'
emPort='55100'

localAddress='172.30.4.10'

# CARLA ADAPTER CONFIG

carlaAdapterVersion="CARLAtenaAdapter-1.2.0"
simId='CARLA-MITRE'

# CARMA PLATFORM ADAPTER CONFIG

carmaPlatformAdapterVersion="CARMAplatformTENAadapter-1.0.0"
carmaID='CARMA-MITRE'

# SCENARIO CONFIG

scenarioPublisherVersion="scenario-publisher-1.0.0"
scenarioFile=$HOME/voices-poc/scenario_files/sit1-testing-scenario.xml

# ENTITY GENERATOR CONFIG

entityGeneratorVersion="tena-entity-generator-1.0.0"