# GENERAL CONFIG
VUG_LOCAL_INSTALL_PATH=$HOME/tenadev/INSTALL
VUG_LOCAL_TENA_PATH=$HOME/TENA
VUG_LOCAL_VOICES_POC_PATH=$HOME/voices-poc
VUG_ADAPTER_LOG_PATH=$VUG_LOCAL_VOICES_POC_PATH/scripts/collect_logs/log_files/local_adapter_logs
VUG_CARMA_SIM_LOG_PATH=$VUG_LOCAL_VOICES_POC_PATH/scripts/collect_logs/log_files/carma_sim_logs

VUG_LOCAL_CARLA_PATH=$HOME/carla/CARLA_0.9.10_TFHRC_Ubuntu_20220301/LinuxNoEditor
VUG_CARLA_MAP_NAME="TFHRC"

VUG_TDCS_PATH=$VUG_LOCAL_TENA_PATH/VOICES-Combined-v0.12.0-DataCollection-v1.1.10

VUG_EM_ADDRESS='172.30.1.100'
VUG_EM_PORT='55100'

VUG_LOCAL_ADDRESS='172.30.4.10'

# CARLA ADAPTER CONFIG

VUG_CARLA_ADAPTER_VERSION="CARLAtenaAdapter-1.2.0"
VUG_SIM_ID='CARLA-MITRE'

# CARMA PLATFORM ADAPTER CONFIG

VUG_CARMA_PLATFORM_ADAPTER_VERSION="CARMAplatformTENAadapter-1.0.0"
VUG_CARMA_VEHICLE_ID='CARMA-MITRE'

# SCENARIO CONFIG

VUG_SCENARIO_PUBLISHER_VERSION="scenario-publisher-1.0.0"
VUG_SCENARIO_FILE=$HOME/voices-poc/scenario_files/sit1-testing-scenario.xml

# ENTITY GENERATOR CONFIG

VUG_ENTITY_GENERATOR_VERSION="tena-entity-generator-1.0.0"