# GENERAL CONFIG
localInstallPath=$HOME/tenadev/INSTALL
localTenaPath=$HOME/tena_dev/u2004-gcc9-64/TENA

emAddress='192.168.55.239'
emPort='55100'

localAddress='192.168.55.236'

# CARLA ADAPTER CONFIG

simId='CARLA-MITRE'

# CARMA PLATFORM ADAPTER CONFIG

carmaID='CARMA-MITRE'

# SCENARIO CONFIG

scenarioFile=$HOME/voices-poc/scenario_files/sit1-testing-scenario.xml