################################################################################
# SCENARIO CONFIG
################################################################################

# TENA GENERAL CONFIG
export VUG_EM_ADDRESS=$VUG_LOCAL_ADDRESS
export VUG_EM_PORT='55100'
export VUG_FORMAL_EVENT=false

# CARLA CONFIG
export VUG_CARLA_MAP_NAME="DelaveV21"
export VUG_MANUAL_VEHICLE_SPEED_LIMIT=50 # in kph

# SCENARIO CONFIG
export VUG_SCENARIO_FILE="energy-int-test.xml"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#
# THE FOLLOWING CONFIG IS OVERRIDDEN IN THE DOCKER IMAGE
# ONLY USE THESE CONFIGS IF NOT USING DOCKER IMAGE
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#

# ADAPTER VERSIONS
export VUG_CARLA_ADAPTER_VERSION="CARLAtenaAdapter-2.0.0"
export VUG_DEBUG_CARLA_ADAPTER_VERSION="debug-CARLAtenaAdapter-1.5.0"
export VUG_SCENARIO_PUBLISHER_VERSION="scenario-publisher-2.0.0"
export VUG_ENTITY_GENERATOR_VERSION="tena-entity-generator-2.0.0"
export VUG_V2X_ADAPTER_VERSION="TENAV2XMessageAdapter-2.0.0"
export VUG_JSON_TOOLS_VERSION="JSONstreamer-v1.0.2"
export VUG_JSON_PUBLISHER_VERSION="JSONpublisher-v1.0.2"

# TENA APPLICATION VERSIONS
export VUG_TDCS_PATH=$VUG_LOCAL_TDCS_INSTALL_PATH/POCX-Combined-v1.1.0-DataCollection-v1.1.17
export VUG_PLAYBACK_TOOL_PATH=$VUG_LOCAL_TDCS_INSTALL_PATH/POCX-Combined-v1.1.0-PlaybackTool-v1.1.17
export VUG_EM_PATH=$VUG_LOCAL_TENA_PATH/executionManager-v6.0.9
export VUG_TENA_SOURCE_SCRIPT_FILE=$VUG_LOCAL_TENA_PATH/6.0.9/scripts/tenaenv-u2204-gcc11-64-v6.0.9.sh
export VUG_JSON_STREAMER_PATH=$VUG_LOCAL_JSON_TOOLS_INSTALL_PATH/Combined-v1.2.4-JSONstreamer-v1.0.2
export VUG_JSON_PUBLISHER_PATH=$VUG_LOCAL_JSON_TOOLS_INSTALL_PATH/Combined-v1.2.4-JSONpublisher-v1.0.2

# CARLA PYTHON API EGG LOCATION
export VUG_CARLA_EGG_DIR=$VUG_LOCAL_CARLA_PATH/PythonAPI/carla/dist/
