################################################################################
# SCENARIO CONFIG
################################################################################

# TENA GENERAL CONFIG
emAddress='192.168.55.236'
emPort='55100'

tdcsPath=$tdcsInstallPath/VOICES-Combined-v0.14.2-DataCollection-v1.1.11
playbackToolPath=$tdcsInstallPath/VOICES-Combined-v0.14.2-PlaybackTool-v1.1.11
tenaExecutionManagerPath=$localTenaPath/executionManager-v6.0.8.2

tenaSourceScript=$localTenaPath/6.0.8/scripts/tenaenv-u2004-gcc9-64-v6.0.8.sh
source $tenaSourceScript

# CARLA CONFIG
carlaMapName="smart_intersection"
export VOI_CARLA_EGG_DIR=$localCarlaPath/PythonAPI/carla/dist/

# INTERSECTION CONFIG
intersectionID="smart_intersection_Main"

# SCENARIO CONFIG
scenarioFile=$HOME/voices-poc/scenario_files/cdasim-test.xml

# ADAPTER VERSION CONFIG
carlaAdapterVersion="CARLAtenaAdapter-1.4.4"
carmaPlatformAdapterVersion="CARMAplatformTENAadapter-1.0.0"
scenarioPublisherVersion="scenario-publisher-1.0.2"
entityGeneratorVersion="tena-entity-generator-1.0.0"
trafficLightEntityGeneratorVersion="TrafficLightEntityGenerator-0.0.4"
j2735AdapterVersion="TENAJ2735MessageAdapter-0.0.3"