################################################################################
# SCENARIO CONFIG
################################################################################

export VUG_SCENARIO_CONFIG_FILE=pilot2_event2_portal-test.config

# TENA GENERAL CONFIG
export VUG_EM_ADDRESS='10.91.0.35'
export VUG_EM_PORT='55100'

export VUG_TDCS_PATH=$VUG_LOCAL_TDCS_INSTALL_PATH/Combined-v1.0.0-DataCollection-v1.1.10
export VUG_PLAYBACK_TOOL_PATH=$VUG_LOCAL_TDCS_INSTALL_PATH/Combined-v1.0.0-PlaybackTool-v1.1.10
export VUG_EM_PATH=$VUG_LOCAL_TENA_PATH/executionManager-v6.0.8.2

export VUG_TENA_SOURCE_SCRIPT_FILE=$VUG_LOCAL_TENA_PATH/6.0.8/scripts/tenaenv-u2004-gcc9-64-v6.0.8.sh

# CARLA CONFIG
export VUG_CARLA_MAP_NAME="mcity_map_voices_v2-2-21"
export VUG_CARLA_EGG_DIR=$VUG_LOCAL_CARLA_PATH/PythonAPI/carla/dist/
export VUG_MANUAL_VEHICLE_SPEED_LIMIT=40 # in kph

# INTERSECTION CONFIG
export VUG_INTERSECTION_ID="tsc_mcity_state_and_liberty"

# SCENARIO CONFIG
export VUG_SCENARIO_FILE=$HOME/voices-poc/scenario_files/pilot2-event2.xml

# ADAPTER VERSION CONFIG
export VUG_CARLA_ADAPTER_VERSION="CARLAtenaAdapter-1.5.0"
export VUG_DEBUG_CARLA_ADAPTER_VERSION="debug-CARLAtenaAdapter-1.5.0"
export VUG_CARMA_PLATFORM_ADAPTER_VERSION="CARMAplatformTENAadapter-1.0.0"
export VUG_SCENARIO_PUBLISHER_VERSION="scenario-publisher-1.0.2"
export VUG_ENTITY_GENERATOR_VERSION="tena-entity-generator-1.0.0"
export VUG_TRAFFIC_LIGHT_ENTITY_GENERATOR_VERSION="TENATrafficLightEntityGenerator-0.0.5"
export VUG_J2735_ADAPTER_VERSION="TENAJ2735MessageAdapter-0.0.3"
export VUG_J3224_ADAPTER_VERSION="TENAJ3224Adapter-0.0.3"
