################################################################################
# SCENARIO CONFIG
################################################################################

# TENA GENERAL CONFIG
emAddress='192.168.55.236'
emPort='55100'

tdcsPath=$tdcsInstallPath/Combined-v1.0.0-DataCollection-v1.1.10
playbackToolPath=$tdcsInstallPath/Combined-v1.0.0-PlaybackTool-v1.1.10
tenaExecutionManagerPath=$localTenaPath/executionManager-v6.0.8.2

tenaSourceScript=$localTenaPath/6.0.8/scripts/tenaenv-u2004-gcc9-64-v6.0.8.sh
source $tenaSourceScript

# CARLA CONFIG
carlaMapName="mcity_map_voices_v2"
export VOI_CARLA_EGG_DIR=$localCarlaPath/PythonAPI/carla/dist/

# INTERSECTION CONFIG
intersectionID="tsc_mcity_state_and_liberty"

# SCENARIO CONFIG
scenarioFile=$HOME/voices-poc/scenario_files/pilot2-event0.xml

# ADAPTER VERSION CONFIG
carlaAdapterVersion="CARLAtenaAdapter-1.4.4"
carmaPlatformAdapterVersion="CARMAplatformTENAadapter-1.0.0"
scenarioPublisherVersion="scenario-publisher-1.0.2"
entityGeneratorVersion="tena-entity-generator-1.0.0"
trafficLightEntityGeneratorVersion="TENATrafficLightEntityGenerator-0.0.5"
j2735AdapterVersion="TENAJ2735MessageAdapter-0.0.3"